footer {
    background-color: lavender; 
    color: white; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .social-icons {
    list-style: none; 
    padding: 0; 
    display: flex; 
    gap: 10px; 
  }
  
  .social-icons a {
    text-decoration: none;
    color: white; 
  }

  .social-icons img {
    width: 30px; 
  }
  
  footer p {
    margin-top: 20px; 
  }
  
  footer img.DH-logo {
    width: 100px; 
  }