.footer {
    background-color: rgb(31, 31, 159); 
    color: white; 
    height: 100px; 
    width: 100%;
    justify-content: center;
    align-items: center; 
  }

  .social-icons {
    list-style: none; 
    padding: 0; 
    display: flex; 
    gap: 10px; 
  }
  
  .social-icons a {
    text-decoration: none;
    color: white;
  }
 
  .footer p {
    margin-top: 20px; 
  }

  .footer li {
    display: flex;
    flex-direction: row;
    list-style: none
  }
  .social-icons img {
    width: 40px;
  }
 .logo-dh{
  width: 300px;
 }